$puzzle_box_color: #37474f;

.puzzle-box {
  overflow: hidden;
  padding: 2px;
  background: $puzzle_box_color;
  position: relative;
  box-shadow: $puzzle_box_color 0 0 0 2px;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  @media #{$medium-up} {
    width: 400px;
    height: 400px;
  }
  &.starting,
  &.resolving {
    .puzzle-item {
      transition: all 100ms linear;
    }
  }
  .puzzle-item {
    transition: all 300ms ease-out;
    width: 25%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    $k: 0;
    @for $i from 0 through 3 {
      @for $j from 0 through 3 {
        $k: $k + 1;
        &.puzzle-item-#{$k} {
          top: ($i * 70) + px;
          left: ($j * 70) + px;
          @media #{$medium-up} {
            top: ($i * 100) + px;
            left: ($j * 100) + px;
          }
        }
      }
    }
    &.valid {
      .puzzle-item-number {
        background: #ffffcc;
      }
    }
    &:hover {
      .puzzle-item-number {
        background: #cfd8dc;
      }
    }
  }
  .puzzle-item-number {
    transition: all 200ms;
    background: white;
    font-size: 22px;
    font-weight: 300;
    height: 70px;
    box-shadow: $puzzle_box_color 0 0 0 2px inset;
    line-height: 2;
    padding: 16px 0;
    @media #{$medium-up} {
      padding: 28px 0;
      height: 100px;
      line-height: 2.3;
    }
  }
}

.start-puzzle-box {
  margin-bottom: 20px;
}

.winner-message {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(white, .7);
  font-weight: 300;
  margin: 0;
  padding:10px;
  font-style: italic;
  &.on {
    display:block;
  }
  &.computer {
    span {
      text-decoration: line-through;
    }
  }
  span {
    font-weight: 600;
  }
}

.puzzle-stats {
  text-align: center;
  margin-top: 20px;
  p {
    margin: 0;
    span {
      font-weight: 600;
      color: $brand-primary;
    }
  }
  .puzzle-time {
    font-weight: 300;
    margin: 20px 0 0 0;
    span {
      font-weight: 500;
    }
  }
}

.puzzle-controls {
  text-align: center;
  &:hover {
    .tip-keyboard {
      opacity: 1;
    }
  }
  p {
    margin: 0 0 4px 0;
    &.tip-keyboard {
      transition: all 200ms;
      opacity: 0;
      margin: 5px 0 0 0;
    }
  }
}
