.puzzle-box {
  overflow: hidden;
  padding: 2px;
  background: black;
  position: relative;
  box-shadow: black 0 0 0 2px;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  @media #{$medium-up} {
    width: 400px;
    height: 400px;
  }
  &.starting,
  &.resolving {
    .puzzle-item {
      transition: all 100ms linear;
    }
  }
  .puzzle-item {
    transition: all 400ms ease-out;
    width: 25%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    $k: 0;
    @for $i from 0 through 3 {
      @for $j from 0 through 3 {
        $k: $k + 1;
        &.puzzle-item-#{$k} {
          top: ($i * 70) + px;
          left: ($j * 70) + px;
          @media #{$medium-up} {
            top: ($i * 100) + px;
            left: ($j * 100) + px;
          }
        }
      }
    }
    &.valid {
      .puzzle-item-number {
        background: #ffffcc;
      }
    }
  }
  .puzzle-item-number {
    background: white;
    font-size: 22px;
    font-weight: 300;
    height: 70px;
    box-shadow: black 0 0 0 2px inset;
    line-height: 2;
    padding: 16px 0;
    @media #{$medium-up} {
      padding: 28px 0;
      height: 100px;
      line-height: 2.3;
    }
  }
}

.start-game-box {
  margin-top: 20px;
  text-align: center;
}

.winner-message {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 20px;
  &.on {
    display:block;
  }
}
